<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Project Ruleset" Description="Default ruleset for dotnet core projects" ToolsVersion="15.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="CS1591" Action="None"/>

        <Rule Id="SA1101" Action="None"/>
        <Rule Id="SA1309" Action="None"/>
        <Rule Id="SA1313" Action="Info"/>
        <Rule Id="SA1623" Action="None"/>
        <Rule Id="SA1633" Action="None"/>
        <Rule Id="SA1642" Action="None"/>
        <Rule Id="SA1649" Action="None"/>
    </Rules>
</RuleSet>
